@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

body {
    background-color: #F4F4F4;
}

.button-article {
    margin: 170px 0px 0px 0px;
    display: flex;
    align-items: center;
}

.button {
    font-size: 16px;
    font-weight: 600;
    border-radius: 25px;
    border: none;   
    width: 254px;
    height: 47px;
    color: #fff;
    cursor: pointer;overflow: hidden;
    position: relative;
    background-color: #FF3CA5;
    padding: 10px 50px;
    margin: 0 auto;
}

.button .buttonspan {
    position: relative;
    z-index: 1;
}

.button:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 470%;
    width: 140%;
    background: #4EBFE8 ;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    -webkit-transform: translateX(-100%) translateY(-25%) rotate(45deg);
    transform: translateX(-100%) translateY(-25%) rotate(45deg);
}

.button:hover:after {
    -webkit-transform: translateX(-9%) translateY(-25%) rotate(45deg);
    transform: translateX(-9%) translateY(-25%) rotate(45deg);
}

.collabs {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 170px;
}