@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

body {
    background-color: #F4F4F4;
}

.hautcontact {
    height: 700px;
    padding: 34px 100px 0 170px;
    line-height: 30px;
    letter-spacing: -0.05em;
}

h1 {
    font-weight: 600;
    font-size: 56px;
    line-height: 84px;
    display: flex;
    align-items: center;
    letter-spacing: -0.03em;
    color: #371D1B;
    margin-bottom: 50px;
}

.champscourt {
    display: flex;
    padding: 20px 0;
}

.prenomemail {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 50%;
    margin-right: 125px;
}

.prenom {
    margin-bottom: 40px;
}

.nom {
    margin-bottom: 40px;
}

.nomtelephone {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 50%;

}

.champstexte {
    display: flex;
    flex-direction: column;

}

.mtop {
    margin-top: 170px;
}

.labeltxt {
    font-size: 24px;
    color: #371D1B;
    font-weight: 500;
    margin-bottom: 21px;
}

.messagetxt {
    width: 1405px;
    height: 172px
}

input[type=text], select, textarea {
    width: 538px;
    height: 48px;
    padding: 12px;
    font-size: 20px;
    font-weight: 400;
    border: 1px solid #ccc;
    border-radius: 15px;
    box-sizing: border-box;
    margin-top: 6px; 
    margin-bottom: 40px; 
    resize: vertical;
}

input[type=submit] {
    float: right;
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 0 185px 0 0;
}


input[type=submit]:hover {
    background-color: #45a049;
}