@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

body {
    background-color: #F4F4F4;
}

nav {
    background-color: #E26DC6;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    display: flex;
    align-items: center;
    padding-left: 25px;
}

.navbar {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.nav-text {
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    margin-right: 48px;
    cursor: pointer;
}

.sub-header {
    background-color: #F0C5DE;
    height: 48px;
    display: flex;
    flex-direction: column;
}

.code-promo {
    font-size: 16px;
    color: #371d1b;
    text-align: center;
    padding-top: 14px;
    font-weight: 500;
}

.weight {
    font-weight: 700;
}

.soulign {
    text-decoration: underline;
}