@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

body {
    background-color: #F4F4F4;
}

.hautarticles{
    width: 100%;
    padding: 40px 100px 0 170px;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: -0.05em;
}
  
h1{
    font-weight: 600;
    font-size: 56px;
    line-height: 84px;
    display: flex;
    align-items: center;
    letter-spacing: -0.03em;
    color: #371D1B;
    margin-bottom: 58px;
}

.textarticles {
    font-weight: 500;
    line-height: 40px;
    letter-spacing: -0.05em;
    font-size: 28px;
}

.pbottom2 {
    margin-bottom: 100px;
}