@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

body {
    background-color: #F4F4F4;
}


.wrapper {
    height: 80px;
    width: 1025px;
    margin: auto;
    border-radius: 20px;
    background: #371D1B;
    display: flex;
    align-items: center;
    text-align: center;
    color: #fff;
    margin-bottom: 170px;
}

.newsletter {
    margin: 0px 33px 0px 33px;
    font-size: 24px;
    font-weight: 600;
}

.field {
    width: 538px;
    height: 48px;
    background: #fff;
    border-radius: 15px;
    padding: 12px 327px 11px 17px;
}

.marron {
    background: #fff;
    cursor: pointer;
    border: none;
    color: #000;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
}

.collabs {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 170px;
}